@charset "utf-8";

/* 头部 */
#header{
    height: 35px;
    background: #333333;
    display: block;
    /* position: relative; */
}
/* 导航左边 */
#navleft{
    /* overflow: hidden; */
    width: 580px;
    height: 35px;
    font-size: 13px;
    float: left;
    /* position: absolute; */
    display: block;
    margin-left: 62px;
}
#navleft .left_sty{
    list-style: none;
    width: 145px;
    height: 35px;
    float: left;
    line-height: 35px;
}
#navleft .left_sty a{
    display: block;
    height: 35px;
    width: 145px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    line-height: 35px;
}
#navleft li img{
    vertical-align: middle;
}
.left_sty:hover{
    background: #666;
}
.bcakbs:hover{
    background: #666666;
}

/* 导航右边 */
#navright{
    height: 35px;
    float: right;
    display: block;
    margin-right: 130px;
}
#navright .rightsz{
    width: 120px;
    height: 35px;
    text-align: center;
    display: block;
    line-height: 35px;
    float: left;
}
#navright .rightsz a{
    font-size: 12px;
    color: #ffffff;
    display: block;
    float: left;
} 
#navright .dlzc span{
    float: left;
    color: #ffffff;
    display: block;
    padding: 0 20px;
}
#navright .dlzc{
    padding-right: 20px;
}
#navright .chyp{
    position: relative;
}
#navright .chyp img{
    left: 0;
    top: 35px;
    position: absolute;
    display: none;
    z-index: 1000;
}
#navright .chyp:hover img{
    display: block;
}
#navright .gwc {
position: relative;
}
#navright .gwc p{
    width: 200px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    display: none;
    position: absolute;
    top: 45px;
}
#navright .gwc:hover p{
    display: block;
}



// 导航条（第二部分）
#dhtiao {
    width: 100%;
    height: 78px;
    z-index: 100;
    position: relative;
    display: block;
  }
  
  #dhtiao #head_logo {
    width: 239px;
    height: 78px;
    position: absolute;
    left: 60px;
  }
  #dhtiao #navtwo{
    width: 720px;
    height: 78px;
    position: absolute;
    display: block;
    left: 340px;
  }
  #navtwo ul li {
    height: 78px;
    width: 90px;
    line-height: 78px;
    font-size: 16px;
    text-align: center;
    display: block;
    float: left;
  }
  #sousuo{
    height: 38px;
    width: 200px;
    border: 1px solid #e3e3e3;
    float: right;
    overflow: hidden;
    margin-top: 17px;
    position: absolute;
    right: 80px;
  }
  /* 搜索框 */
  #sousuo .ssk{
    padding-left: 10px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #a9a9a9;
    float: left;
    width: 155px;
    outline: none;
    border: none;
  }
  /* 搜索框小放大镜 */
  #sousuo .ssj{
    width: 35px;
    height: 38px;
    background: url(https://images.changhong.com/chgw/images/home-serach-btn_05.png) no-repeat left center;
    cursor: pointer;
    border: none;
  }
  /* 鼠标移入变色 */
  #navtwo .navtwo_dh .navtwo_ml a{
    color: red;
  }
  #navtwo .navtwo_dh li a:hover {
    color: red;
  }


  /* 导航隐藏物品 */
  #ycwp{
    height: 229px;
    background: #ffffff;
    border-top: 1px solid #eeeeee;
    position: relative;
    width: 100%;
    display: none;
  }
  #ycwp .rmtj{
    width: 64px;
    height: 229px;
    font-size: 16px;
    display: block;
    position: absolute;
    line-height: 229px;
    text-align: center;
    left: 100px;
  }
  #ycwp .wuping{
    // width: 190px;
    display: block;
    position: absolute;
    left: 250px;
    top: 30px;
  }
  #ycwp ul li{
      display: block;
      margin: 0 40px;
      float: left;
  }
  .wuping li a{
      display: block;
  }
  .wuping li a img{
    width: 135px;
    height: 135px;
    display: block;
    margin: 0 auto;
  }
  .wuping li a p{
    // width: ;
    font-size: 14px;
    line-height: 23px;
    color: black;
    text-align: center;
    overflow: hidden;
  }
  .wuping li span{
      display: block;
      font-size: 14px;
      text-align: center;
      line-height: 23px;
      color: #f12020;
  }
  .wuping .ysline{
    position: absolute;
    display: block;
    top: 4px;
    width: 1px;
    height: 120px;
    background: #eeeeee;
    margin-left: 220px;
  }
  .wuping .ysline1{
    position: absolute;
    display: block;
    top: 4px;
    width: 1px;
    height: 120px;
    background: #eeeeee;
    margin-left: 430px;
  }
  .wuping .ysline2{
    position: absolute;
    display: block;
    top: 4px;
    width: 1px;
    height: 120px;
    background: #eeeeee;
    margin-left: 650px;
  }
  .wuping .ysline3{
    position: absolute;
    display: block;
    top: 4px;
    width: 1px;
    height: 120px;
    background: #eeeeee;
    margin-left: 870px;
  }

  /* 到轮播图这儿了 */
  #lbtk{
    width: 100%;
    height: 500px;
    display: block;
    border: none;
    position: relative;
    
  }
  #lbtk .lbt ul li{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    // opacity: 0;
  }
  #lbtk .lbt ul li img{
    width: 100%;
    height: 500px;
    display: block;
  }
  #lbtk .lbt ol{
    width: 125px;
    height: 8px;
    position: absolute;
    right: 100px;
    bottom: 30px;
  }
  #lbtk .lbt ol li{
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    float: left;
    margin-left: 17px;
    background-color:rgb(0, 0, 238);
    cursor: pointer;
  }
  #lbtk .lbt ol .active{
    background-color:red;
  }
#lbtk .llcd{
  width: 226px;
  height: 500px;
  position: absolute;
  left: 62px;
}
#lbtk .llcd ul{
  width: 226px;
  height: 480px;
  position: absolute;
  background: rgba(0,0,0,.4);
  padding: 10px 0px;
}
#lbtk .llcd ul li a{
  height: 60px;
  line-height: 60px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
 
}
#lbtk .llcd ul li:hover{
  background: red;
}

.leftcd .lrcd{
  width: 480px;
  display: none;
  position: absolute;
  left: 288px;
  background: #fff;
}
.leftcd .lrcd .smtk{
  width: 400px;
  display: block;
  margin-left: 40px;
}
.leftcd .lrcd .smtk .xk1 {
  width: 400px;
  // border-bottom:1px solid #eeeeee;
  display: block;
  // position: absolute;
  
}
.leftcd .lrcd .smtk .xk1 ::after{
  content:".";
  display:block;
  height:0;
  clear:both;
  overflow:hidden;
  visibility:hidden;
}
.leftcd .lrcd .smtk .xk1 .maotu{
  width: 400px;
  // height: 70px;
  display: block;
}
.leftcd .lrcd .smtk .xk1 .maotu img{
  width: 60px;
  // height: 60px;
  // float: left;
  display: block;
}
.leftcd .lrcd .smtk .xk1 .maotu p{
  font-size: 16px;
  position: absolute;
  top: 20px;
  left: 120px;
}
.leftcd .lrcd .smtk .xk1 .maotu:hover p{
  color: red;
}
.leftcd .lrcd .smtk .xk1 .xinghao{
  width: 400px;
  display: block;
 
}
.leftcd .lrcd .smtk .xk1 .xinghao a{
  font-size: 14px;
  color: #666666;
  padding: 5px 15px;
  border-left: 1px solid #e0e0e0;
  float: left;
}

.leftcd .lrcd .smtk .xk2 .maotu{
  width: 400px;
  display: block;
  margin-top: 20px;
}
.leftcd .lrcd .smtk .xk2 .maotu img{
  width: 60px;
  // height: 60px;
  // float: left;
  display: block;
}
.leftcd .lrcd .smtk .xk2 .maotu p{
  font-size: 16px;
  position: absolute;
  top: 150px;
  left: 120px;
}
.leftcd .lrcd .smtk .xk2 .maotu:hover p{
  color: red;
}
.leftcd .lrcd .smtk .xk2 .xinghao{
  width: 400px;
  display: block;
 
}
.leftcd .lrcd .smtk .xk2 .xinghao a{
  font-size: 14px;
  color: #666666;
  padding: 5px 15px;
  border-left: 1px solid #e0e0e0;
  float: left;
}


.leftcd .lrcd .smtk .xk3 .maotu{
  width: 400px;
  display: block;
  margin-top: 70px;
}
.leftcd .lrcd .smtk .xk3 .maotu img{
  width: 60px;
  // height: 60px;
  // float: left;
  display: block;
}
.leftcd .lrcd .smtk .xk3 .maotu p{
  font-size: 16px;
  position: absolute;
  top: 280px;
  left: 120px;
}
.leftcd .lrcd .smtk .xk3 .maotu:hover p{
  color: red;
}
.leftcd .lrcd .smtk .xk3 .xinghao{
  width: 400px;
  display: block;
 
}
.leftcd .lrcd .smtk .xk3 .xinghao a{
  font-size: 14px;
  color: #666666;
  padding: 5px 15px;
  border-left: 1px solid #e0e0e0;
  float: left;
}


#ggk {
  width: 1226px;
  height: 200px;
  // background: pink;
  display: block;
  margin: 0 auto;
}
#ggk .xlb{
  height: 40px;
  width: 100%;
  display: block;
}
#ggk .xlb .radio{
  width: 36px;
  height: 40px;
  display: block;
  padding-left: 0;
  float: left;
}
#ggk .xlb p{
  // width: 38px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  display: block;
  color: #333333;
  float: left;
  margin-left: 20px;
}

#ggk .sfg{
  // position: relative;
  width: 1226px;
  height: 160px;
  
}
#ggk .sfg .shtj{
  width: 226px;
  // height: 160px;
  display: block;
  border: none;
  float: left;
  margin-right: 13px;
 
}
#ggk .sfg .shtj a{
  width: 50%;
  height: 80px;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  color: #ffffff;
  float: left;
  display: block;
  background: rgb(102, 102, 102);

}
#ggk .sfg .shtj .sifangg img{
  display: block;
  margin: 0 auto;
  padding:15px 0 15px;
  border: 0;
}
#ggk .sfg .shtj .sifangg span{
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

#ggk .sfg .sange{
  width: 320px;
  height: 160px;
  display: block;
  float: left;
  margin-right: 13px;
  font-size: 0;
  overflow: hidden;
}
#ggk .sfg .lastc{
  margin-right: 0;
}






#jutiye{
  width: 1226px;
  height: 715px;
  background: orangered;
  display: block;
  margin: 40px auto;
}

  

  

