@charset "UTF-8";
/* 头部 */
#header {
  height: 35px;
  background: #333333;
  display: block;
  /* position: relative; */
}

/* 导航左边 */
#navleft {
  /* overflow: hidden; */
  width: 580px;
  height: 35px;
  font-size: 13px;
  float: left;
  /* position: absolute; */
  display: block;
  margin-left: 62px;
}

#navleft .left_sty {
  list-style: none;
  width: 145px;
  height: 35px;
  float: left;
  line-height: 35px;
}

#navleft .left_sty a {
  display: block;
  height: 35px;
  width: 145px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 35px;
}

#navleft li img {
  vertical-align: middle;
}

.left_sty:hover {
  background: #666;
}

.bcakbs:hover {
  background: #666666;
}

/* 导航右边 */
#navright {
  height: 35px;
  float: right;
  display: block;
  margin-right: 130px;
}

#navright .rightsz {
  width: 120px;
  height: 35px;
  text-align: center;
  display: block;
  line-height: 35px;
  float: left;
}

#navright .rightsz a {
  font-size: 12px;
  color: #ffffff;
  display: block;
  float: left;
}

#navright .dlzc span {
  float: left;
  color: #ffffff;
  display: block;
  padding: 0 20px;
}

#navright .dlzc {
  padding-right: 20px;
}

#navright .chyp {
  position: relative;
}

#navright .chyp img {
  left: 0;
  top: 35px;
  position: absolute;
  display: none;
  z-index: 1000;
}

#navright .chyp:hover img {
  display: block;
}

#navright .gwc {
  position: relative;
}

#navright .gwc p {
  width: 200px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  display: none;
  position: absolute;
  top: 45px;
}

#navright .gwc:hover p {
  display: block;
}
