@charset "UTF-8";
/* 头部 */
#header {
  height: 35px;
  background: #333333;
  display: block;
  /* position: relative; */
}

/* 导航左边 */
#navleft {
  /* overflow: hidden; */
  width: 580px;
  height: 35px;
  font-size: 13px;
  float: left;
  /* position: absolute; */
  display: block;
  margin-left: 62px;
}

#navleft .left_sty {
  list-style: none;
  width: 145px;
  height: 35px;
  float: left;
  line-height: 35px;
}

#navleft .left_sty a {
  display: block;
  height: 35px;
  width: 145px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 35px;
}

#navleft li img {
  vertical-align: middle;
}

.left_sty:hover {
  background: #666;
}

.bcakbs:hover {
  background: #666666;
}

/* 导航右边 */
#navright {
  height: 35px;
  float: right;
  display: block;
  margin-right: 130px;
}

#navright .rightsz {
  width: 120px;
  height: 35px;
  text-align: center;
  display: block;
  line-height: 35px;
  float: left;
}

#navright .rightsz a {
  font-size: 12px;
  color: #ffffff;
  display: block;
  float: left;
}

#navright .dlzc span {
  float: left;
  color: #ffffff;
  display: block;
  padding: 0 20px;
}

#navright .dlzc {
  padding-right: 20px;
}

#navright .chyp {
  position: relative;
}

#navright .chyp img {
  left: 0;
  top: 35px;
  position: absolute;
  display: none;
  z-index: 1000;
}

#navright .chyp:hover img {
  display: block;
}

#navright .gwc {
  position: relative;
}

#navright .gwc p {
  width: 200px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  display: none;
  position: absolute;
  top: 45px;
}

#navright .gwc:hover p {
  display: block;
}

#dhtiao {
  width: 100%;
  height: 78px;
  z-index: 100;
  position: relative;
  display: block;
  box-shadow: 0px 3px 3px 0px #e1e1e1;
}

#dhtiao #head_logo {
  width: 239px;
  height: 78px;
  position: absolute;
  left: 60px;
}
/* #dhtiao #head_logo .title{
    display: block;
    width: 34px;
    height: 18px;
    border-left: 1px solid #d4d4d4;
    background: url(https://images.changhong.com/chgw/images/inner-icon-gray.png) no-repeat 10px center;
    position: absolute;
    float: left;
    top: 40%;
    left: 200px;
} */ 


#dhtiao #navtwo {
  width: 720px;
  height: 78px;
  position: absolute;
  display: block;
  left: 340px;
}

#navtwo ul li {
  height: 78px;
  width: 90px;
  line-height: 78px;
  font-size: 16px;
  text-align: center;
  display: block;
  float: left;
}

#sousuo {
  height: 38px;
  width: 200px;
  border: 1px solid #e3e3e3;
  float: right;
  overflow: hidden;
  margin-top: 17px;
  position: absolute;
  right: 80px;
}

/* 搜索框 */
#sousuo .ssk {
  padding-left: 10px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #a9a9a9;
  float: left;
  width: 155px;
  outline: none;
  border: none;
}

/* 搜索框小放大镜 */
#sousuo .ssj {
  width: 35px;
  height: 38px;
  background: url(https://images.changhong.com/chgw/images/home-serach-btn_05.png) no-repeat left center;
  cursor: pointer;
  border: none;
}

/* 鼠标移入变色 */
#navtwo .navtwo_dh .navtwo_ml a {
  color: red;
}

#navtwo .navtwo_dh li a:hover {
  color: red;
}


/* 大主题内容 */

/* 当前位置 */
#bigmain{
    color: #f9f9f9;
}
#bigmain #wheel{
    width: 100%;
    height: 47px;
    background: #f3f3f3;
    border-bottom: 1px solid #d7d7d7;
}
#bigmain #wheel .dqwz{
    width: 1226px;
    height: 47px;
    margin: 0 auto;
    
}
#bigmain #wheel .dqwz p {
line-height: 47px;
color: black;
}
#bigmain #wheel .dqwz p span {
color: black;
}

.com-widht{
    width: 1226px;
    margin: 0 auto;
}
.com-widht .com_list{
  width: 1126px ;
  margin: 0 auto;
  padding: 0 38px;
  border:1px solid #e8e8e8 ;




}
.divq{
 border-bottom:1px solid #e8e8e8;
 min-height: 58px;

}
.divq p {
    width: 85px;
    height: 58px;
    line-height: 58px;
    font-size: 14px;
    color: #505050;
    float: left;
}
.divq .quanbu{
    margin-top: 15px;
    display: block;
    margin-bottom: 14px;
    float: left;
    width: 76px;
    font-size: 14px;
    color: #f12020;
    border: 1px solid #f12020;
    margin-left: 10px;
    line-height: 28px;
    text-align: center;

}
.divq .xuanze{
    margin-top: 15px;
    display: block;
    margin-bottom: 14px;
    float: left;
    width: 76px;
    font-size: 14px;
    color: black;
    margin-left: 10px;
    line-height: 28px;
    text-align: center; 
    
}
.xuanze span {
    width: 100%;
    height: 100%;
    display: block;
}
.divq .xuanze :hover{
    border: 1px solid red;
    color: red;
}
.com_list .fanwei{
  float: right;
  margin-top: 15px;
}
.fan1 , .fan2{
  text-align: center;
  width: 64px;
  height: 28px;
  border: 1px solid #b3b3b3;
  display: block;
 margin-left: 10px;
  float: left;
  font-size: 14px;
  color: #000000;
  
}
.fanwei span {
 float: left;
 color:black;
 line-height:26px ;
 margin-left: 10px;

}
.fanwei .sure{
float: left;
margin-left: 10px;
width: 65px;
height: 30px;
color: white;
background: red;
border: 0px ;

}
.fenlei{
  width: 1226px;
  /* height: 1319px; */
  display: block;
  margin: 0 auto;
  /* background: red; */
  margin-top: 50px;
}
.fenlei .chears{
  width: 200px;
  height: 48px;
  display: block;
  float: left;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  color: #333333;
  background: #f1f1f1;
}
.fenlei .paixu{
  width: 1000px;
  height: 46px;
  display: block;
  margin-left: 15px;
  background: #efefef;
  float: right;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}
.fenlei .paixu ul{
  float: left;
  overflow: hidden;
} 
.fenlei .paixu ul li{
  height: 45px;
  width: 110px;
  text-align: center;
  line-height: 45px;
  float: left;
  color: #666;
  border-right: 1px solid #e6e6e6;
  /* position: relative; */
  cursor: pointer;
}
.fenlei .paixu .hashuo{
  float: left;
  background: url(https://images.changhong.com/chgw/images/pro-result-store_06.png) no-repeat left center;
  margin-left: 10px;
}
.fenlei .paixu .hashuo #radios{
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  opacity: 0;
  margin-top: 10px;
  cursor: pointer;
}
.fenlei .paixu .hashuo p{
  margin-left: 24px;
  font-size: 14px;
  color: #595959;
  line-height: 45px;
}
.fenlei .paixu .chaxun{
  margin-top: 7px;
  overflow: hidden;
  float: right;
  margin-right: 18px;
}
.fenlei .paixu .chaxun #seici{
  width: 150px;
  padding-left: 10px;
  font-size: 14px;
  color: #a9a9a9;
  line-height: 33px;
}
.lieb{
  width: 1016px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 210px;
  min-height: 300px;
  display: block;
}
.lieb ul li{
  width: 240px;
  height: 360px;
  margin-left: 14px;
  margin-top: 14px;
  display: block;
  float: left;
}
.fenye{
  width: 1001px;
  height: 60px;
  margin-top: 10px;
  display: block;
  border: 1px solid #eeeeee;
  background: #ffffff;
  float: right;
  
}
.fenye .flwy{
  width: 674px;
  height: 41px;
  display: block;
  float: right;
  overflow: hidden;
  color: #666;
  background: #ffffff;
  margin-top: 19px;
}
.fenye .flwy a:nth-of-type(1){
  float: left;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
.fenye .flwy .leftb{
  display: block;
  float: left;
  padding: 0px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}
.fenye .flwy .leftb span{
  display: block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 8px solid #666666;
  border-bottom: 7px solid transparent;
  margin: 5px 0px;
}
.fenye .flwy .yejiao a{
  height: 22px;
  line-height: 24px;
  border: 1px solid #cccccc;
  display: block;
  float: left;
  padding: 0px 8px;
  margin-right: 16px;
  font-size: 14px;
}
.fenye .flwy .yejiao a:nth-of-type(1){
  border: 1px solid #e22421;
  color: #ffffff;
  background: #e22421;
}
.fenye .flwy .rightb span{
  display: block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 8px solid #666666;
  border-bottom: 7px solid transparent;
  margin: 5px 0px;
}
/* .fenye .flwy .lastye{
  display: block;
  float: left;
  padding: 0px 8px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
} */





